html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
  text-align: center;
  align-items: center;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font-family: 'Cabin Condensed', sans-serif;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* -------------------------Form Treatment----------------------------- */


.formPanel {
  box-sizing: border-box;
  font-family: 'Cabin Condensed', sans-serif;
  width: 400px;
  max-width: 70%;
  padding-top: 17px;
  margin: 0 auto 20px;
  background-color: white;
  border-radius: 3px;
  /* box-shadow: 0 5px 8px rgb(0, 0, 0, 0.4); */
}

.loginText {
  font-size: 2em;
  margin-bottom: 12px;
  margin-top: 3px;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

/* -------------------------Oops Page----------------------------- */

.oopsPage {
  text-align: center;
}

/* -------------------------UserPage----------------------------- */

.userHeadline {
  font-family: 'Josefin Sans', sans-serif; 
  font-size: 30px;
  margin: 0;
}

.userContainer {
  padding-top: 2px;
  text-align: center;
  align-items: center;
}


/* -------------------------Imported from spike----------------------------- */

.upGreen {
  color: green;
  margin: 0;
  padding: 0;
}

.downRed {
  color: red;
  margin: 0;
  padding: 0;
}



/* ----------------------SearchForm / CoinSearchPage------------------------ */


/* ----------------------user holding table------------------------ */

.squish {
  maxHight: 9px;
}

.coinDetailLoading {
display:block;
margin:auto;
}

/* -------------------------Modify Page----------------------------- */

.modLogo {
  display:block;
  margin:auto;
}