html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
  text-align: center;
  align-items: center;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 1px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.2rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #216091;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font-family: "Poppins";
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #216091;
  color: #216091;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* -------------------------Form Treatment----------------------------- */

.formPanel {
  box-sizing: border-box;
  font-family: "Cabin Condensed", sans-serif;
  width: 400px;
  max-width: 70%;
  padding-top: 17px;
  margin: 0 auto 20px;
  background-color: white;
  border-radius: 3px;
  /* box-shadow: 0 5px 8px rgb(0, 0, 0, 0.4); */
}

.loginText {
  font-size: 2em;
  margin-bottom: 12px;
  margin-top: 12px;
  font-family: "Luckiest Guy";
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.283);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

/* -------------------------Oops Page----------------------------- */

.oopsPage {
  text-align: center;
}

/* -------------------------UserPage----------------------------- */

.userHeadline {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  margin: 0;
}

.userContainer {
  text-align: center;
  align-items: center;
  /* background-color: ??  */
}

.explore {
  color: "#216091";
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.283);
}

/* -------------------------Imported from spike----------------------------- */

.upGreen {
  color: green;
  margin: 0;
  padding: 0;

}

.downRed {
  color: red;
  margin: 0;
  padding: 0;

}


/* ----------------------user holding table------------------------ */

.coinDetailLoading {
  display: block;
  margin: auto;
}

/* -------------------------Modify Page----------------------------- */

.modLogo {
  display: block;
  margin: auto;
}

.swal-modal .swal-text {
  text-align: center;
  font-size: 24px;
}

/* -------------------------About Page----------------------------- */

.containerAbout {
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: block;
  margin: auto;
}

.line-height {
  line-height: 49px;
}

.aboutHeader {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.488);
}

.aboutLink {
  color: black;
  margin: 3px;
  transform: scale(.9)

}


/* -------------------------MUI Makestyles Transfers 10/26/21----------------------------- */


/* .addPositionButton {
  margin: 15px;
  font-size: 25px;
  font-weight: bolder;
  background-color: #5C9827;
  color: white;

} */


