

.userAssetList {

padding: 0;
margin: 0; 
list-style: none;

}

 /* //deletelater all of this ?????? */
ul {
    margin: 0;
    padding: 0; 
}

.userPositionBlock {
    justify-content: center;
   

}

