.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  margin-bottom: 15px;
  background-color: #49689E;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 30px;
  font-weight: 400;
  color: #f2f2f2;
  font-family: 'Josefin Sans', sans-serif; 
  padding-left: 20px;
  margin-bottom: 10px;
  margin-top: 14px;
}

.nav-title:focus {
  /* figure this out */
}

.nav-title:hover {
  cursor: pointer;

}



.navLink {
  display: inline-block;
  color: #f2f2f2;
  /* background-color: #49689E; */

  text-align: center;
  padding: 24px 10px;
  font-family: 'Cabin Condensed', sans-serif;

  text-decoration: none;
  font-size: 15px;

    /* important MUST FIGURE OUT HOW TO REMOVE BOX  */


  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.hamburgerLink {
 color: #49689E; 
  transform: scale(2.3);

 margin-top: 20px;
 margin-left: 8px;
 margin-right: 8px;

 border: none;
 cursor: pointer;
 outline: 0;
 text-align: center;
}

.hamburgerIcon {
  color: white;
  border: none;
  cursor: pointer;
  outline: 0;
  transform: scale(2.3);
 margin-right: 20px;
}

.navIconR {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  /* padding: 24px 5px; */
  margin-right: 20px;
  margin-top: 28px;
  margin-bottom: 28px;
  transform: scale(2.1);}

.navIconR:focus {
  background-color: #49689E;
}

.navIconL {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  /* padding: 24px 5px; */
  margin-right: 20px;
  margin-top: 28px;
  margin-bottom: 28px;
  transform: scale(2.1);}

.navLink:hover {
  color: rgb(225, 225, 225);
}

.cryptofolio {
  margin: 0;
  font-size: 17px;
}
